body {
	background: url(http://project2.wiki.usfca.edu/file/view/red%20bull%20logo.jpg/415824200/935x317/red%20bull%20logo.jpg) center top no-repeat fixed;
	background-color: black;
}

h1 {
	color: white;
}