body {
	background-color: black;
}

h1 {
	color: white;
}

#header-1 {
	margin-left: 500px;
	background: linear-gradient(to right,yellow,red,yellow);
	background-clip: text;
	text-fill-color: transparent;
	display: inline-block;
}

#background-image {
	margin-left: 150px;
	border: outset;


}