body {
	background: url(http://cdn.pcwallart.com/images/red-bull-wallpaper-2.jpg) center center no-repeat fixed;
}

#nav-bar {
	border: outset;
	background-color: rgb(49,48,48);
	list-style-type: none;
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;

}

.nav-bar-list-items {
	display: inline;
	font-size: x-large;
}

a {
	color: rgb(172,28,28);
	list-style-type: none;
}

button {
	background-color: transparent;
	border: none;
}

button.active {
	border-style: none;
}