body {
	background: url(http://wallpapercave.com/wp/jqWprxI.jpg) center center no-repeat fixed;
}

ul {
	background-color: rgb(49,48,48);
	list-style-type: none;
	position: fixed;
	width: 100%;
	margin:0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

li {
	display: inline;
	font-size: x-large;
}

a {
	color: rgb(172,28,28);
	list-style-type: none;
}

button {
	background-color: transparent;
	border: none;
}

button.active {
	border-style: none;
}

.text1
 {
  font-size: 40px;
  background: -webkit-linear-gradient(#0F3, #F00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  
 }
