body {
	background: url(http://wallpapercave.com/wp/jqWprxI.jpg) center center no-repeat fixed;
}

ul {

	background-color: rgb(49,48,48);
	list-style-type: none;
	position: fixed;
	width: 50%;
	margin-left:25%;
	margin-right: 25%;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

li {
	display: inline;
	font-size: x-large;
}

a {
	color: rgb(172,28,28);
	list-style-type: none;
}

button {
	background-color: transparent;
	border: none;
}

button.active {
	border-style: none;
}

h1 {
	position: absolute;
	top: 80%;
	left: 30%;
	color: white;

}

.q {
	color: yellow;
}

#wings {
	font-style: italic;
	color: red;
}